html, body {
    margin: 0;
    padding: 0;
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff; /* Colore di sfondo */
}

/* Contenitore dell'immagine */
.img {
    width: auto; 
    height: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative; 
}

/* Stile per l'immagine */
.img img {
    max-width: 100%; 
    max-height: 100%; 
    object-fit: contain; 
    object-position: center; 
   filter: drop-shadow(5px 4px 0px rgba(0, 0, 0, 0.2)); 
}


/* Navbar */
.navbar {
position: absolute;
top: 2%;  
left: 50%;
transform: translateX(-50%);
padding: 5% 15%;
border-radius: 5px;
font-size: 18px;
z-index: 1;
width: 80%; 
}

.navbar .d-flex {
flex-direction: column;
align-items: center;
}

.navbar .form-control {
width: 200px; 
height: 35px; 
padding: 10px;
margin-bottom: 12px; 
background-color: #f8e5cd;
filter: drop-shadow(4px 3px 0px rgba(0, 0, 0, 0.2));
}


.navbar .btn {
border: none;
width: 30px; 
height: 30px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
font-size: 14px; 
padding: 0; 
display: block;
}

.navbar .btn img {
width: 60%; 
height: auto;
filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.4));
}

.navbar .btn img:focus,
.navbar .btn img:active {
filter: drop-shadow(4px 4px 0px rgba(110, 15, 15, 0.8)); 
}

.navbar .d-flex .form-control:focus {
box-shadow: 0 0 8px rgba(110, 15, 14, 0.8) !important;
border-color: #6e0f0e !important;
}


/*FOOTER*/
.footer {
    width: auto;
display: flex;
justify-content: center;
position: absolute;
bottom: 2vh; 
}

.footer img {

object-fit: contain;
width: 60%;
height: auto; 
object-fit: contain;
padding-left: 2vh;
filter: drop-shadow(3px 5px 0px rgba(0, 0, 0, 0.2)); 
}
/* Social icons */
.social {
    position: absolute; 
    top: 33%; 
    left: 29%;
    display: flex;
    gap: clamp(4vw, 5vw, 7vw);/*Spazio flessibile tra le icone */
    z-index: 2; 
}

.social img {
    width: 40px; 
    height: 40px; 
    filter: drop-shadow(3px 3px 0px rgba(0, 0, 0, 0.2)); 
}
.social img:focus,
.social img:active {
    width: 45px; 
    height: 45px; 
    filter: drop-shadow(4px 4px 0px rgba(0, 0, 0, 0.4)); 
}

/*CAROUSEL*/
.carousel {
position: absolute;
top: 46%;
left: 50%;
transform: translate(-50%, -50%);
width: 55%;
max-width: 300px;
height: 38%;
border: #6e0f0e 3px solid;
border-radius: 10px;
}

.carousel-item img {
margin-top: 3%;
max-width: 30%;    
max-height: 250px; 
width: auto; 
height: auto; 
object-fit: contain; 
margin-left: 5%;
display: block; 
}
.carousel-caption {
position: absolute;
top: 0px;
z-index: 0;
padding-left: 35px;
font-size: small;
}
.carousel-caption h6,
.carousel-caption p{
padding-left: 20%;
}
.carousel-inner{
background-color: #6e0f0e;
height: 90%;
overflow-y: auto;
}
.carousel-control-prev, .carousel-control-next {
position: absolute;
top: 50%;
transform: translateY(-50%);
z-index: 1; 
}

.carousel-control-prev {
left: 20%;
}

.carousel-control-next {
right: 20%;
}
.standardcover img{
filter: drop-shadow(4px 4px 0px rgba(0, 0, 0, 0.8));    
}
.innerbtn{
background-color: #f8e5cd;
border-radius: 10px;
filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.4)); 
margin-left: 20%;
}

/*DESCRIZIONE*/
.modal {
position: fixed;
z-index: 1000;
left: 0;
top: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.5);
display: flex;
justify-content: center;
align-items: center;
}

.modal-content {
background:#f8e5cd;
padding: 20px;
border-radius: 8px;
height: 50%;
width: 80%;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
position: relative;
overflow-y: auto;
overflow-x: hidden;
}

.close-button {
width: 30px;
height: 30px;
border-radius: 50%;
text-align: center;
border: #6e0f0e 1px solid ;
background-color: #6e0f0e;
color: #f8e5cd;
font: bold;
position: absolute;
top: 10px;
right: 15px;
cursor: pointer;
font-size: 18px;
}
.close-button:active,
.close-button:hover{
filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.4));   
}
.no-results {
text-align: center;
font-size: 18px;
font-weight: bold;
color:#f8e5cd;
padding: 20px;
}
/*LOADER*/
.spinner-border {
position: fixed;
top: 20%;
left: 47%;
z-index: 9999;
color: #6e0f0e;
}

.rotatepage{
    display: none;
}


@media (max-height: 600px) and (orientation: landscape){
    .rotatepage{
        display: none;
    }
   html, body{
      background-color: #ffff;
    }

    .img,
    .carousel,
    .footer{
        display: flex;
    }

    .navbar {
        width: 50%;
        padding: 0 16%; 
        transform: translateX(-50%);
    }

    .navbar .form-control {
        width: 150px; 
        height: 25px;
        padding: 8px;
        font-size: 12px;
        
    }

    .navbar .btn {
        width: 25px;
        height: 25px;
        font-size: 12px; 
        margin-top: -22%;
        margin-right: 120%;
    }

    .navbar .btn img {
        width: 50%; 
    }


    .img{
        margin-top: -5%;
    width: 40%;
    flex-grow: 0;
    }

    .carousel-caption h6,
    .carousel-caption p{
        font-size: 10px;
    }

    .footer{
        width: 30%;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -5px;
    }
    .social{
        display: flex;
    justify-content: center;
    align-items: center;
    top: 3vh;
    gap: clamp(1vw, 1.5vw, 2vw);

    } 
    .social img {
        width: 25px;
        
    }
    .social img:focus,
    .social img:active {
        width: 30px;
    }
    .spinner-border{
        top:2%;
        left: 60%;
        z-index: 1;
        height: 25px;
        width: 25px;
    }
    
    .innerbtn{
        width: 80px;
        height: 30px;
        margin-left: -62%;
        margin-bottom: 25px;
        font-size: 7px;
    }
}

/*
@media (min-width: 601px){
    html, body{
       background-color: white;
     }
     .navbar,
     .img,
     .carousel,
     .footer{
         display: none;
     }
     .rotatepage{
         display: flex;
     }
 }
     */